Use conditional list comprehensions to create the lists requested in the following cells.

**Hint**: Remember the modulo operator (%) !

`x % y` gives the remainder if `x` is divided by `y`. So, for instance `x % 2` will be `0` when x is even, and `1` when x is odd

In [1]:
# Make a list of numbers up to 100 that are divisible by three

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [2]:
# Make a list of numbers up to 100 that are divisible by three OR divisible by five

[0, 3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [3]:
# # Use conditional list comprehensions to create a list of all the pet dog names.
pets = [{
    'name': 'Fido',
    'age': 4,
    'type': 'dog'
}, {
    'name': 'Rex',
    'age': 2,
    'type': 'dog'
}, {
    'name': 'Puddles',
    'age': 7,
    'type': 'wombat'
}, {
    'name': 'Tuna',
    'age': 6,
    'type': 'cat'
}, {
    'name': 'Springer',
    'age': 5,
    'type': 'dog'
}]

['Fido', 'Rex', 'Springer']

In [4]:
# Use a list comprehension to create a list containing three items; a "customer_id", 
# "name", and "email" for each customer in the customers list.  
customers = ["400021,Adrianna Raysor,adrianna.raysor@360.cn",
"400064,Amberly Kerfie,a.kerfie@instagram.com",
"400042,Angelique Kleiner,a.klein@google.com",
"400059,Arleen Bergman,arleen.bergman@friendfeed.com",
"400006,Arlinda McBrayer,amcbrayer@scribd.com",
"400014,Astrid Brewster,a.brewster@homestead.com",
"400027,Ayanna Filippelli,ayanna@reddit.com"]

[['400021', 'Adrianna Raysor', 'adrianna.raysor@360.cn'],
 ['400064', 'Amberly Kerfie', 'a.kerfie@instagram.com'],
 ['400042', 'Angelique Kleiner', 'a.klein@google.com'],
 ['400059', 'Arleen Bergman', 'arleen.bergman@friendfeed.com'],
 ['400006', 'Arlinda McBrayer', 'amcbrayer@scribd.com'],
 ['400014', 'Astrid Brewster', 'a.brewster@homestead.com'],
 ['400027', 'Ayanna Filippelli', 'ayanna@reddit.com']]

In [5]:
# Use a list comprehension to extract the "customer_id" from each customer in the customers list 
# and then convert the "customer_id" to an integer.

[400021, 400064, 400042, 400059, 400006, 400014, 400027]

In [6]:
# Use a list comprehension to split each customer "name" into a first and last name.

[['Adrianna', 'Raysor'],
 ['Amberly', 'Kerfie'],
 ['Angelique', 'Kleiner'],
 ['Arleen', 'Bergman'],
 ['Arlinda', 'McBrayer'],
 ['Astrid', 'Brewster'],
 ['Ayanna', 'Filippelli']]