In [18]:
# Import Dependencies
import pandas as pd

In [19]:
# Create a DataFrame from dictionary of lists. 
class_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie"], 
    'Test Score': [90, 59, 72, 88, 98, 60]}

test_scores_df = pd.DataFrame(class_data)
test_scores_df

  Class     Name  Test Score
0   Oct    Cyndy          90
1   Oct    Logan          59
2   Jan     Laci          72
3   Jan    Elmer          88
4   Oct  Crystle          98
5   Jan    Emmie          60

In [20]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins = [0, 59.9, 69.9, 79.9, 89.9, 100]

# Create the names for the five bins
group_names = ["F", "D", "C", "B", "A"]

In [21]:
pd.cut(test_scores_df["Test Score"], 
                                              bins, labels=group_names, 
                                              include_lowest=True)

0    A
1    F
2    C
3    B
4    A
5    D
Name: Test Score, dtype: category
Categories (5, object): ['F' < 'D' < 'C' < 'B' < 'A']

In [22]:
# Slice the data and place it into bins
test_scores_df["Test Score Summary"] = pd.cut(test_scores_df["Test Score"], 
                                              bins, labels=group_names, 
                                              include_lowest=True)
test_scores_df

  Class     Name  Test Score Test Score Summary
0   Oct    Cyndy          90                  A
1   Oct    Logan          59                  F
2   Jan     Laci          72                  C
3   Jan    Elmer          88                  B
4   Oct  Crystle          98                  A
5   Jan    Emmie          60                  D

In [23]:
# Creating a group based off of the bins
test_scores_df = test_scores_df.groupby("Test Score Summary")
test_scores_df.max()

/var/folders/kq/4xt56vy50ps6dc_p8hp80byr0000gn/T/ipykernel_14622/1460056608.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  test_scores_df = test_scores_df.groupby("Test Score Summary")

                   Class   Name  Test Score
Test Score Summary
F                    Oct  Logan          59
D                    Jan  Emmie          60
C                    Jan   Laci          72
B                    Jan  Elmer          88
A                    Oct  Cyndy          98