In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  Release
Get:5 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease [18.1 kB]
Hit:7 http://archive.ubuntu.com/ubuntu focal InRelease
Get:8 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease [18.1 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:14 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main Sources [2,381 kB]
Get:15 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [988 kB]
Get:16 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,290 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main amd64 Packages [1,127 kB]
Get:18 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,442 kB]
Get:19 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [2,920 kB]
Get:20 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal/main amd64 Packages [29.5 kB]
Fetched 11.6 MB in 9s (1,279 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType
from pyspark import SparkFiles

# Create a SparkSession
spark = SparkSession.builder.appName("TempViews").getOrCreate()

In [3]:
# In this example we are going to read data directly from a github repo.
url='https://raw.githubusercontent.com/datasets/five-thirty-eight-datasets/master/datasets/candy-power-ranking/data/candy-data.csv'

In [4]:
# SparkFiles will allow you to resolves paths to files added through `SparkContext.addFile`

spark.sparkContext.addFile(url)
candy_data = spark.read.option('header', 'true').csv(SparkFiles.get("candy-data.csv"), inferSchema=True, sep=',', timestampFormat="mm/dd/yy")

# Show DataFrame
candy_data.show()

+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|      competitorname|chocolate|fruity|caramel|peanutyalmondy|nougat|crispedricewafer|hard|bar|pluribus|sugarpercent|pricepercent|winpercent|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|           100 grand|        1|     0|      1|             0|     0|               1|   0|  1|       0|  0.73199999|  0.86000001| 66.971725|
|        3 musketeers|        1|     0|      0|             0|     1|               0|   0|  1|       0|  0.60399997|  0.51099998| 67.602936|
|            one dime|        0|     0|      0|             0|     0|               0|   0|  0|       0|       0.011|       0.116| 32.261086|
|         one quarter|        0|     0|      0|             0|     0|               0|   0|  0|       0|       0.011|  0.51099998| 46.116505|
|           air heads|        0|     1|      0|             0|     0|               0|   0|  0|       0|  0.90600002|  0.51099998| 52.341465|
|          almond joy|        1|     0|      0|             1|     0|               0|   0|  1|       0|       0.465|  0.76700002| 50.347546|
|           baby ruth|        1|     0|      1|             1|     1|               0|   0|  1|       0|  0.60399997|  0.76700002| 56.914547|
|  boston baked beans|        0|     0|      0|             1|     0|               0|   0|  0|       1|  0.31299999|  0.51099998| 23.417824|
|          candy corn|        0|     0|      0|             0|     0|               0|   0|  0|       1|  0.90600002|  0.32499999| 38.010963|
|  caramel apple pops|        0|     1|      1|             0|     0|               0|   0|  0|       0|  0.60399997|  0.32499999| 34.517681|
|     charleston chew|        1|     0|      0|             0|     1|               0|   0|  1|       0|  0.60399997|  0.51099998| 38.975037|
|chewey lemonhead ...|        0|     1|      0|             0|     0|               0|   0|  0|       1|  0.73199999|  0.51099998| 36.017628|
|            chiclets|        0|     1|      0|             0|     0|               0|   0|  0|       1|       0.046|  0.32499999| 24.524988|
|                dots|        0|     1|      0|             0|     0|               0|   0|  0|       1|  0.73199999|  0.51099998| 42.272076|
|            dum dums|        0|     1|      0|             0|     0|               0|   1|  0|       0|  0.73199999| 0.034000002| 39.460556|
|         fruit chews|        0|     1|      0|             0|     0|               0|   0|  0|       1|       0.127| 0.034000002| 43.088924|
|             fun dip|        0|     1|      0|             0|     0|               0|   1|  0|       0|  0.73199999|  0.32499999| 39.185505|
|          gobstopper|        0|     1|      0|             0|     0|               0|   1|  0|       1|  0.90600002|  0.45300001| 46.783348|
|   haribo gold bears|        0|     1|      0|             0|     0|               0|   0|  0|       1|       0.465|       0.465|  57.11974|
|   haribo happy cola|        0|     0|      0|             0|     0|               0|   0|  0|       1|       0.465|       0.465| 34.158958|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
only showing top 20 rows

In [5]:
# Create a temporary view. The temp view is a pre-requisite for Spark to allow you to read with sql.  
candy_data.createOrReplaceTempView('candy')

In [6]:
#using sql in Spark just requires you to call spark.sql(<sql>) and showing the data.
#here we are peeking at the data using SparkSQL
spark.sql("select * from candy limit 10").show()

+------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|    competitorname|chocolate|fruity|caramel|peanutyalmondy|nougat|crispedricewafer|hard|bar|pluribus|sugarpercent|pricepercent|winpercent|
+------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|         100 grand|        1|     0|      1|             0|     0|               1|   0|  1|       0|  0.73199999|  0.86000001| 66.971725|
|      3 musketeers|        1|     0|      0|             0|     1|               0|   0|  1|       0|  0.60399997|  0.51099998| 67.602936|
|          one dime|        0|     0|      0|             0|     0|               0|   0|  0|       0|       0.011|       0.116| 32.261086|
|       one quarter|        0|     0|      0|             0|     0|               0|   0|  0|       0|       0.011|  0.51099998| 46.116505|
|         air heads|        0|     1|      0|             0|     0|               0|   0|  0|       0|  0.90600002|  0.51099998| 52.341465|
|        almond joy|        1|     0|      0|             1|     0|               0|   0|  1|       0|       0.465|  0.76700002| 50.347546|
|         baby ruth|        1|     0|      1|             1|     1|               0|   0|  1|       0|  0.60399997|  0.76700002| 56.914547|
|boston baked beans|        0|     0|      0|             1|     0|               0|   0|  0|       1|  0.31299999|  0.51099998| 23.417824|
|        candy corn|        0|     0|      0|             0|     0|               0|   0|  0|       1|  0.90600002|  0.32499999| 38.010963|
|caramel apple pops|        0|     1|      1|             0|     0|               0|   0|  0|       0|  0.60399997|  0.32499999| 34.517681|
+------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+

In [7]:
# Get the the first 10 highest "winpercent" in desencending order.
spark.sql("SELECT * FROM candy ORDER BY winpercent DESC LIMIT 10").show()

+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|      competitorname|chocolate|fruity|caramel|peanutyalmondy|nougat|crispedricewafer|hard|bar|pluribus|sugarpercent|pricepercent|winpercent|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|reeses peanut but...|        1|     0|      0|             1|     0|               0|   0|  0|       0|  0.72000003|  0.65100002|  84.18029|
|   reeses miniatures|        1|     0|      0|             1|     0|               0|   0|  0|       0| 0.034000002|  0.27900001| 81.866257|
|                twix|        1|     0|      1|             0|     0|               1|   0|  1|       0|       0.546|  0.90600002| 81.642914|
|             kit kat|        1|     0|      0|             0|     0|               1|   0|  1|       0|  0.31299999|  0.51099998|   76.7686|
|            snickers|        1|     0|      1|             1|     1|               0|   0|  1|       0|       0.546|  0.65100002| 76.673782|
|       reeses pieces|        1|     0|      0|             1|     0|               0|   0|  0|       1|  0.40599999|  0.65100002|  73.43499|
|           milky way|        1|     0|      1|             0|     1|               0|   0|  1|       0|  0.60399997|  0.65100002| 73.099556|
|reeses stuffed wi...|        1|     0|      0|             1|     0|               0|   0|  0|       0|  0.98799998|  0.65100002| 72.887901|
|  peanut butter m&ms|        1|     0|      0|             1|     0|               0|   0|  0|       1|  0.82499999|  0.65100002|  71.46505|
| nestle butterfinger|        1|     0|      0|             1|     0|               0|   0|  1|       0|  0.60399997|  0.76700002| 70.735641|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+

In [8]:
# Get the candies that have chocolate and caramel and order by the lowest sugar percentage.
spark.sql("SELECT * FROM candy WHERE chocolate==1 AND caramel==1 ORDER BY sugarpercent ASC").show()

+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|      competitorname|chocolate|fruity|caramel|peanutyalmondy|nougat|crispedricewafer|hard|bar|pluribus|sugarpercent|pricepercent|winpercent|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|           milk duds|        1|     0|      1|             0|     0|               0|   0|  0|       1|  0.30199999|  0.51099998| 55.064072|
|                twix|        1|     0|      1|             0|     0|               1|   0|  1|       0|       0.546|  0.90600002| 81.642914|
|            snickers|        1|     0|      1|             1|     1|               0|   0|  1|       0|       0.546|  0.65100002| 76.673782|
|           baby ruth|        1|     0|      1|             1|     1|               0|   0|  1|       0|  0.60399997|  0.76700002| 56.914547|
|    snickers crisper|        1|     0|      1|             1|     0|               1|   0|  1|       0|  0.60399997|  0.65100002| 59.529251|
|           milky way|        1|     0|      1|             0|     1|               0|   0|  1|       0|  0.60399997|  0.65100002| 73.099556|
|  milky way midnight|        1|     0|      1|             0|     1|               0|   0|  1|       0|  0.73199999|  0.44100001| 60.800701|
|           100 grand|        1|     0|      1|             0|     0|               1|   0|  1|       0|  0.73199999|  0.86000001| 66.971725|
|                rolo|        1|     0|      1|             0|     0|               0|   0|  0|       1|  0.86000001|  0.86000001| 65.716286|
|milky way simply ...|        1|     0|      1|             0|     0|               0|   0|  1|       0|  0.96499997|  0.86000001|  64.35334|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+

In [9]:
# Demonstrate how to write a SQL query on multiple lines. 
query = """
(SELECT * FROM candy 
WHERE chocolate==1 AND caramel==1 
ORDER BY sugarpercent ASC)
"""
spark.sql(query).show()

+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|      competitorname|chocolate|fruity|caramel|peanutyalmondy|nougat|crispedricewafer|hard|bar|pluribus|sugarpercent|pricepercent|winpercent|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+
|           milk duds|        1|     0|      1|             0|     0|               0|   0|  0|       1|  0.30199999|  0.51099998| 55.064072|
|                twix|        1|     0|      1|             0|     0|               1|   0|  1|       0|       0.546|  0.90600002| 81.642914|
|            snickers|        1|     0|      1|             1|     1|               0|   0|  1|       0|       0.546|  0.65100002| 76.673782|
|           baby ruth|        1|     0|      1|             1|     1|               0|   0|  1|       0|  0.60399997|  0.76700002| 56.914547|
|    snickers crisper|        1|     0|      1|             1|     0|               1|   0|  1|       0|  0.60399997|  0.65100002| 59.529251|
|           milky way|        1|     0|      1|             0|     1|               0|   0|  1|       0|  0.60399997|  0.65100002| 73.099556|
|  milky way midnight|        1|     0|      1|             0|     1|               0|   0|  1|       0|  0.73199999|  0.44100001| 60.800701|
|           100 grand|        1|     0|      1|             0|     0|               1|   0|  1|       0|  0.73199999|  0.86000001| 66.971725|
|                rolo|        1|     0|      1|             0|     0|               0|   0|  0|       1|  0.86000001|  0.86000001| 65.716286|
|milky way simply ...|        1|     0|      1|             0|     0|               0|   0|  1|       0|  0.96499997|  0.86000001|  64.35334|
+--------------------+---------+------+-------+--------------+------+----------------+----+---+--------+------------+------------+----------+