In [ ]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

In [ ]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder\
    .appName("SparkSQL")\
    .config("spark.sql.debug.maxToStringFields", 2000)\
    .config("spark.driver.memory", "2g")\
    .getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/11/16 14:01:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/3/DelayedFlights.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("DelayedFlights.csv"), sep=",", header=True)
df.show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
| id|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|2008|    1|         3|        4|   2003|      1955|   2211|      2225|           WN|      335| N712SW|              128|           150|    116|     -14|       8|   IAD| TPA|     810|     4|      8|        0|               N|       0|        null|        null|    null|         null|             null|
|  1|2008|    1|         3|        4|    754|       735|   1002|      1000|           WN|     3231| N772SW|              128|           145|    113|       2|      19|   IAD| TPA|     810|     5|     10|        0|               N|       0|        null|        null|    null|         null|             null|
|  2|2008|    1|         3|        4|    628|       620|    804|       750|           WN|      448| N428WN|               96|            90|     76|      14|       8|   IND| BWI|     515|     3|     17|        0|               N|       0|        null|        null|    null|         null|             null|
|  4|2008|    1|         3|        4|   1829|      1755|   1959|      1925|           WN|     3920| N464WN|               90|            90|     77|      34|      34|   IND| BWI|     515|     3|     10|        0|               N|       0|           2|           0|       0|            0|               32|
|  5|2008|    1|         3|        4|   1940|      1915|   2121|      2110|           WN|      378| N726SW|              101|           115|     87|      11|      25|   IND| JAX|     688|     4|     10|        0|               N|       0|        null|        null|    null|         null|             null|
|  6|2008|    1|         3|        4|   1937|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|      57|      67|   IND| LAS|    1591|     3|      7|        0|               N|       0|          10|           0|       0|            0|               47|
| 10|2008|    1|         3|        4|    706|       700|    916|       915|           WN|      100| N690SW|              130|           135|    106|       1|       6|   IND| MCO|     828|     5|     19|        0|               N|       0|        null|        null|    null|         null|             null|
| 11|2008|    1|         3|        4|   1644|      1510|   1845|      1725|           WN|     1333| N334SW|              121|           135|    107|      80|      94|   IND| MCO|     828|     6|      8|        0|               N|       0|           8|           0|       0|            0|               72|
| 15|2008|    1|         3|        4|   1029|      1020|   1021|      1010|           WN|     2272| N263WN|               52|            50|     37|      11|       9|   IND| MDW|     162|     6|      9|        0|               N|       0|        null|        null|    null|         null|             null|
| 16|2008|    1|         3|        4|   1452|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|      15|      27|   IND| PHX|    1489|     7|      8|        0|               N|       0|           3|           0|       0|            0|               12|
| 17|2008|    1|         3|        4|    754|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|     -15|       9|   IND| PHX|    1489|     5|     16|        0|               N|       0|        null|        null|    null|         null|             null|
| 18|2008|    1|         3|        4|   1323|      1255|   1526|      1510|           WN|        4| N674AA|              123|           135|    110|      16|      28|   IND| TPA|     838|     4|      9|        0|               N|       0|           0|           0|       0|            0|               16|
| 19|2008|    1|         3|        4|   1416|      1325|   1512|      1435|           WN|       54| N643SW|               56|            70|     49|      37|      51|   ISP| BWI|     220|     2|      5|        0|               N|       0|          12|           0|       0|            0|               25|
| 21|2008|    1|         3|        4|   1657|      1625|   1754|      1735|           WN|      623| N724SW|               57|            70|     47|      19|      32|   ISP| BWI|     220|     5|      5|        0|               N|       0|           7|           0|       0|            0|               12|
| 22|2008|    1|         3|        4|   1900|      1840|   1956|      1950|           WN|      717| N786SW|               56|            70|     49|       6|      20|   ISP| BWI|     220|     2|      5|        0|               N|       0|        null|        null|    null|         null|             null|
| 23|2008|    1|         3|        4|   1039|      1030|   1133|      1140|           WN|     1244| N714CB|               54|            70|     47|      -7|       9|   ISP| BWI|     220|     2|      5|        0|               N|       0|        null|        null|    null|         null|             null|
| 25|2008|    1|         3|        4|   1520|      1455|   1619|      1605|           WN|     2553| N394SW|               59|            70|     50|      14|      25|   ISP| BWI|     220|     2|      7|        0|               N|       0|        null|        null|    null|         null|             null|
| 26|2008|    1|         3|        4|   1422|      1255|   1657|      1610|           WN|      188| N215WN|              155|           195|    143|      47|      87|   ISP| FLL|    1093|     6|      6|        0|               N|       0|          40|           0|       0|            0|                7|
| 27|2008|    1|         3|        4|   1954|      1925|   2239|      2235|           WN|     1754| N243WN|              165|           190|    155|       4|      29|   ISP| FLL|    1093|     3|      7|        0|               N|       0|        null|        null|    null|         null|             null|
| 30|2008|    1|         3|        4|   2107|      1945|   2334|      2230|           WN|      362| N798SW|              147|           165|    134|      64|      82|   ISP| MCO|     972|     6|      7|        0|               N|       0|           5|           0|       0|            0|               59|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [ ]:
# Create a temporary view

In [ ]:
# Run a sql query that groups the data on UniqueCarrier
# note the time functions will track the time it takes to load and run the data
# we are only interested in the time it take to run so run this cell twice.
start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

+-------------+-------------------+--------+
|UniqueCarrier|sum(CRSElapsedTime)|count(1)|
+-------------+-------------------+--------+
|           UA|        1.3998834E7|   82022|
|           NW|          6761017.0|   48410|
|           EV|          4284049.0|   42782|
|           DL|          8245701.0|   48888|
|           OO|          6883377.0|   73680|
|           F9|          2338358.0|   16006|
|           YV|          3216400.0|   34890|
|           US|          8759953.0|   53873|
|           MQ|          7710479.0|   82505|
|           OH|          3318613.0|   29152|
|           HA|           345580.0|    2597|
|           XE|          7386620.0|   62539|
|           FL|          4807695.0|   37201|
|           WN|        2.4182455E7|  214624|
|           AA|        1.7721836E7|  103120|
|           B6|          4169064.0|   22868|
|           AQ|            99698.0|     750|
|           AS|          2527656.0|   16553|
|           CO|          8693653.0|   44282|
|           9E|          3255692.0|   31833|
+-------------+-------------------+--------+

--- 1.0277519226074219 seconds ---

[Stage 5:===================================================>       (7 + 1) / 8]

In [ ]:
# Write out the data in parquet format

In [ ]:
# Read in our new parquet formatted data

In [ ]:
# A parquet formatted DataFrame has all the same methods as a row-based dataframe
# We can convert the dataframe to a view.

In [ ]:
start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

+-------------+--------+
|UniqueCarrier|count(1)|
+-------------+--------+
|           UA|   82022|
|           AA|  103120|
|           NW|   48410|
|           EV|   42782|
|           B6|   22868|
|           DL|   48888|
|           OO|   73680|
|           F9|   16006|
|           YV|   34890|
|           US|   53873|
|           OH|   29152|
|           XE|   62539|
|           AS|   16553|
|           CO|   44282|
|           WN|  214624|
|           9E|   31833|
|           MQ|   82505|
|           HA|    2597|
|           FL|   37201|
|           AQ|     750|
+-------------+--------+

--- 0.2640209197998047 seconds ---

In [ ]:
# Here is another sample
start_time = time.time()


print("--- %s seconds ---" % (time.time() - start_time))

+-------------+-------------------+--------+
|UniqueCarrier|sum(CRSElapsedTime)|count(1)|
+-------------+-------------------+--------+
|           UA|        1.3998834E7|   82022|
|           AA|        1.7721836E7|  103120|
|           NW|          6761017.0|   48410|
|           EV|          4284049.0|   42782|
|           B6|          4169064.0|   22868|
|           DL|          8245701.0|   48888|
|           OO|          6883377.0|   73680|
|           F9|          2338358.0|   16006|
|           YV|          3216400.0|   34890|
|           US|          8759953.0|   53873|
|           OH|          3318613.0|   29152|
|           XE|          7386620.0|   62539|
|           AS|          2527656.0|   16553|
|           CO|          8693653.0|   44282|
|           WN|        2.4182455E7|  214624|
|           9E|          3255692.0|   31833|
|           MQ|          7710479.0|   82505|
|           HA|           345580.0|    2597|
|           FL|          4807695.0|   37201|
|           AQ|            99698.0|     750|
+-------------+-------------------+--------+

--- 0.27622318267822266 seconds ---

In [ ]:
# Partition our data by UniqueCarrier

In [ ]:
# Read in our new parquet formatted data

In [ ]:
# Convert the DataFrame to a view.

In [ ]:
# Query the partitioned data on the Partition key.
start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

+-------------+--------+
|UniqueCarrier|count(1)|
+-------------+--------+
|           UA|   82022|
|           AA|  103120|
|           OO|   73680|
|           WN|  214624|
|           MQ|   82505|
|           XE|   62539|
|           NW|   48410|
|           DL|   48888|
|           US|   53873|
|           CO|   44282|
|           EV|   42782|
|           YV|   34890|
|           FL|   37201|
|           9E|   31833|
|           B6|   22868|
|           OH|   29152|
|           AS|   16553|
|           F9|   16006|
|           AQ|     750|
|           HA|    2597|
+-------------+--------+

--- 0.3317570686340332 seconds ---

In [ ]:
# Grouping by partition key and aggregating data.
start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

+-------------+-------------------+
|UniqueCarrier|sum(CRSElapsedTime)|
+-------------+-------------------+
|           UA|        1.3998834E7|
|           AA|        1.7721836E7|
|           OO|          6883377.0|
|           WN|        2.4182455E7|
|           MQ|          7710479.0|
|           XE|          7386620.0|
|           NW|          6761017.0|
|           DL|          8245701.0|
|           US|          8759953.0|
|           CO|          8693653.0|
|           EV|          4284049.0|
|           YV|          3216400.0|
|           FL|          4807695.0|
|           9E|          3255692.0|
|           B6|          4169064.0|
|           OH|          3318613.0|
|           AS|          2527656.0|
|           F9|          2338358.0|
|           AQ|            99698.0|
|           HA|           345580.0|
+-------------+-------------------+

--- 0.46139001846313477 seconds ---

In [ ]:
# Another query filtering on the key.
start_time = time.time()


print("--- %s seconds ---" % (time.time() - start_time))

+-------------+-------------+
|UniqueCarrier|total_delayed|
+-------------+-------------+
|           US|    2077273.0|
+-------------+-------------+

--- 0.20259594917297363 seconds ---

In [ ]:
# Same query as above against the parquet (non-partitioned) data.
start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

+-------------+-------------+
|UniqueCarrier|total_delayed|
+-------------+-------------+
|           US|    2077273.0|
+-------------+-------------+

--- 0.3114919662475586 seconds ---

In [ ]:
# Here is a query that doesn't use the partition key at all (against the parquet data)
start_time = time.time()


print("--- %s seconds ---" % (time.time() - start_time))

+-------------+-------+
|UniqueCarrier|TailNum|
+-------------+-------+
|           WN| N712SW|
+-------------+-------+

--- 0.24602293968200684 seconds ---

In [ ]:
# Here is a query that doesn't use the partition key at all (against the partitioned parquet data)
start_time = time.time()


print("--- %s seconds ---" % (time.time() - start_time))

+-------------+-------+
|UniqueCarrier|TailNum|
+-------------+-------+
|           WN| N712SW|
+-------------+-------+

--- 0.3094189167022705 seconds ---