In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['met']

# assign the collection to a variable
artifacts = db['artifacts']

* Write a query that:

    * Uses `find()` to find documents about artifacts that come from the "Maya" culture and returns the following fields: `accessionNumber`, `accessionYear`, `classification`, `country`, `department`, `measurements.elementMeasurements.Height`, `measurements.elementMeasurements.Width`, `measurements.elementMeasurements.Depth`, `medium`, `title`,`objectURL`.

    * Uses `sort()` to sort by the artifact's height.

    * Uses `limit()` to limit the number of results to 5.

In [3]:
# Query


# Cast the results as a list and save them to a variable


# Pretty print the results

[{'_id': ObjectId('63c885a8435617897adf530b'),
  'accessionNumber': '66.181',
  'accessionYear': '1966',
  'classification': 'Stone-Sculpture',
  'country': 'Mexico',
  'department': 'The Michael C. Rockefeller Wing',
  'measurements': [{'elementMeasurements': {'Depth': 50.800102,
                                            'Height': 215.58293,
                                            'Width': 60.96012}}],
  'medium': 'Limestone',
  'objectURL': 'https://www.metmuseum.org/art/collection/search/309404',
  'title': 'Monumental figure (Chahk)'},
 {'_id': ObjectId('63c885a8435617897adf50cd'),
  'accessionNumber': '1979.206.1047',
  'accessionYear': '1979',
  'classification': 'Stone-Sculpture',
  'country': 'Guatemala or Mexico',
  'department': 'The Michael C. Rockefeller Wing',
  'measurements': [{'elementMeasurements': {'Depth': 6.99,
                                            'Height': 88.9,
                                            'Width': 87.63}}],
  'medium': 'Limestone, paint',
  'objectURL': 'https://www.metmuseum.org/art/collection/search/313240',
  'title': 'Relief with Enthroned Ruler'},
 {'_id': ObjectId('63c885a8435617897adf509f'),
  'accessionNumber': '1999.484.1a, b',
  'accessionYear': '1999',
  'classification': 'Ceramics-Containers',
  'country': 'Guatemala',
  'department': 'The Michael C. Rockefeller Wing',
  'measurements': [{'elementMeasurements': {'Depth': 22.860046,
                                            'Height': 80.01016,
                                            'Width': 31.115063}}],
  'medium': 'Ceramic',
  'objectURL': 'https://www.metmuseum.org/art/collection/search/318345',
  'title': 'Censer, Seated King'},
 {'_id': ObjectId('63c885a8435617897adf522e'),
  'accessionNumber': '1978.412.99',
  'accessionYear': '1978',
  'classification': 'Ceramics-Sculpture',
  'country': 'Mexico',
  'department': 'The Michael C. Rockefeller Wing',
  'measurements': [{'elementMeasurements': {'Depth': 34.93}},
                   {'elementMeasurements': {'Depth': 34.93,
                                            'Height': 53.975,
                                            'Width': 28.91}}],
  'medium': 'Ceramic',
  'objectURL': 'https://www.metmuseum.org/art/collection/search/310551',
  'title': 'Censer Support'},
 {'_id': ObjectId('63c885a8435617897adf5353'),
  'accessionNumber': '1982.394a, b',
  'accessionYear': '1982',
  'classification': 'Ceramics-Containers',
  'country': 'Guatemala',
  'department': 'The Michael C. Rockefeller Wing',
  'measurements': [{'elementMeasurements': {'Height': 37.465}}],
  'medium': 'Ceramic',
  'objectURL': 'https://www.metmuseum.org/art/collection/search/314557',
  'title': 'Seated Figure Censer (Incensario)'}]

In [4]:
# Convert results to DataFrame

,_id,accessionNumber,accessionYear,department,title,medium,measurements,country,classification,objectURL
0,63c885a8435617897adf530b,66.181,1966,The Michael C. Rockefeller Wing,Monumental figure (Chahk),Limestone,"[{'elementMeasurements': {'Depth': 50.800102, ...",Mexico,Stone-Sculpture,https://www.metmuseum.org/art/collection/searc...
1,63c885a8435617897adf50cd,1979.206.1047,1979,The Michael C. Rockefeller Wing,Relief with Enthroned Ruler,"Limestone, paint","[{'elementMeasurements': {'Depth': 6.99, 'Heig...",Guatemala or Mexico,Stone-Sculpture,https://www.metmuseum.org/art/collection/searc...
2,63c885a8435617897adf509f,"1999.484.1a, b",1999,The Michael C. Rockefeller Wing,"Censer, Seated King",Ceramic,"[{'elementMeasurements': {'Depth': 22.860046, ...",Guatemala,Ceramics-Containers,https://www.metmuseum.org/art/collection/searc...
3,63c885a8435617897adf522e,1978.412.99,1978,The Michael C. Rockefeller Wing,Censer Support,Ceramic,"[{'elementMeasurements': {'Depth': 34.93}}, {'...",Mexico,Ceramics-Sculpture,https://www.metmuseum.org/art/collection/searc...
4,63c885a8435617897adf5353,"1982.394a, b",1982,The Michael C. Rockefeller Wing,Seated Figure Censer (Incensario),Ceramic,[{'elementMeasurements': {'Height': 37.465}}],Guatemala,Ceramics-Containers,https://www.metmuseum.org/art/collection/searc...

In [5]:
# Build the aggregation pipeline
# Write a match query to find only the documents about artifacts that
# have a classification where "Sculpture" is contained the value, and
# have a width greater than or equal to 10cm and less than 50cm, and
# have a height greater than or equal to 20cm and less than 60cm.


# Write an aggregation query that counts the number of documents, grouped by "classification" and "culture"


# Create a dictionary that will allow the pipeline to sort by count in descending order


# Put the pipeline together

In [6]:
# Run the pipeline through the aggregate method, cast the results as a list, and save the results to a variable

In [7]:
# Print the number of rows in the result

Number of rows in result:  63

In [8]:
# Print the first 10 results

[{'_id': {'classification': 'Wood-Sculpture', 'culture': 'Baule peoples'},
  'count': 6},
 {'_id': {'classification': 'Stone-Sculpture', 'culture': 'Veracruz'},
  'count': 5},
 {'_id': {'classification': 'Wood-Sculpture', 'culture': 'Bamana peoples'},
  'count': 5},
 {'_id': {'classification': 'Wood-Sculpture', 'culture': 'Senufo peoples'},
  'count': 4},
 {'_id': {'classification': 'Stone-Sculpture', 'culture': 'Aztec'}, 'count': 4},
 {'_id': {'classification': 'Wood-Sculpture', 'culture': ''}, 'count': 4},
 {'_id': {'classification': 'Wood-Sculpture', 'culture': 'Kwele peoples'},
  'count': 3},
 {'_id': {'classification': 'Wood-Sculpture', 'culture': 'Dogon peoples'},
  'count': 3},
 {'_id': {'classification': 'Stone-Sculpture', 'culture': 'Maya'}, 'count': 3},
 {'_id': {'classification': 'Wood-Sculpture', 'culture': 'Bwa peoples'},
  'count': 3}]

In [9]:
# Extract the fields from the _id so they're in separate columns in a Pandas DataFrame

   count _id.classification     _id.culture
0      6     Wood-Sculpture   Baule peoples
1      5    Stone-Sculpture        Veracruz
2      5     Wood-Sculpture  Bamana peoples
3      4     Wood-Sculpture  Senufo peoples
4      4    Stone-Sculpture           Aztec

In [10]:
# Rename the columns

   number of artifacts   classification         culture
0                    6   Wood-Sculpture   Baule peoples
1                    5  Stone-Sculpture        Veracruz
2                    5   Wood-Sculpture  Bamana peoples
3                    4   Wood-Sculpture  Senufo peoples
4                    4  Stone-Sculpture           Aztec

In [11]:
# Reorder the columns


# Print the first 10 rows of the DataFrame

    classification         culture  number of artifacts
0   Wood-Sculpture   Baule peoples                    6
1  Stone-Sculpture        Veracruz                    5
2   Wood-Sculpture  Bamana peoples                    5
3   Wood-Sculpture  Senufo peoples                    4
4  Stone-Sculpture           Aztec                    4
5   Wood-Sculpture                                    4
6   Wood-Sculpture   Kwele peoples                    3
7   Wood-Sculpture   Dogon peoples                    3
8  Stone-Sculpture            Maya                    3
9   Wood-Sculpture     Bwa peoples                    3

Data Source: [The Metropolitan Museum of Art](https://www.metmuseum.org/) (2022). The Metropolitan Museum of Art Collection API https://metmuseum.github.io/. Licensed under the [Creative Commons 0 License](https://creativecommons.org/publicdomain/zero/1.0/).<br />
Accessed Oct 3, 2022. Data collected from departmentId=5 ("Arts of Africa, Oceania, and the Americas") and search string "animal".