In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['met']

# assign the collection to a variable
artifacts = db['artifacts']

In [3]:
# Write an aggregation query that counts the number of documents, grouped by "country"

In [4]:
# Run the query with the aggregate method and save the results to a variable

In [5]:
# Print the number of countries in the result

Number of countries in result:  80

In [6]:
# Print the first 10 results

[{'_id': 'India', 'count': 3},
 {'_id': 'Argentina', 'count': 3},
 {'_id': 'Democratic Republic of Congo', 'count': 1},
 {'_id': 'Ghana', 'count': 15},
 {'_id': 'Borneo', 'count': 2},
 {'_id': 'Madagascar', 'count': 3},
 {'_id': 'Marquesas Islands', 'count': 1},
 {'_id': 'Angola or Democratic Republic of the Congo', 'count': 3},
 {'_id': 'Dominican Republic', 'count': 1},
 {'_id': 'Philippines', 'count': 2}]

In [7]:
# Convert mongo result to Pandas DataFrame

Rows in DataFrame:  80

                                          _id  count
0                                       India      3
1                                   Argentina      3
2                Democratic Republic of Congo      1
3                                       Ghana     15
4                                      Borneo      2
5                                  Madagascar      3
6                           Marquesas Islands      1
7  Angola or Democratic Republic of the Congo      3
8                          Dominican Republic      1
9                                 Philippines      2

Data Source: [The Metropolitan Museum of Art](https://www.metmuseum.org/) (2022). The Metropolitan Museum of Art Collection API https://metmuseum.github.io/. Licensed under the [Creative Commons 0 License](https://creativecommons.org/publicdomain/zero/1.0/).<br />
Accessed Oct 3, 2022. Data collected from departmentId=5 ("Arts of Africa, Oceania, and the Americas") and search string "animal".