In [11]:
# Dependencies
import pandas as pd

In [12]:
# # We can create a Pandas Series from a raw list
# data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine",
#                          "University of Central Florida", "Rutgers University"])
# data_series

In [13]:
# # Convert a list of dictionaries into a DataFrame
# states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
#                 {"STATE": "New York", "ABBREVIATION": "NY"}]

# states_df = pd.DataFrame(states_dicts)
# states_df

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY

In [8]:
# Convert a single dictionary containing lists into a DataFrame
pharaoh_df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharaoh": ["Thinis", "Memphis"]
     }
)
pharaoh_df