In [28]:
# Dependencies
import pandas as pd
from pathlib import Path

In [29]:
# Save path to the data set as a variable.
data_file = Path("Resources/car_purchases.csv")

In [31]:
# Use Pandas to the read data.
data_file_df = pd.read_csv(data_file)
# data_file_df.head()

In [34]:
# # Display a statistical overview of the DataFrame.
# data_file_df.describe()

In [37]:
# # Reference a single column within a DataFrame.
# data_file_df["Amount"].head()

In [39]:
# # Reference multiple columns within a DataFrame.
# data_file_df[["Amount", "Gender"]].head()

In [41]:
# # The mean method averages the series
# average = data_file_df["Amount"].mean()
# average

In [43]:
# # The sum method adds every entry in the series
# total = data_file_df["Amount"].sum()
# total

In [45]:
# # The unique method shows every element only once
# unique = data_file_df["Car"].unique()
# unique

In [47]:
# # The value_counts method counts unique values in a column
# count = data_file_df["Gender"].value_counts()
# count

In [48]:
# # Calculations can also be performed on Series and added into DataFrames as new columns
# thousands_of_dollars = data_file_df["Amount"]/1000
# data_file_df["Thousands of Dollars"] = thousands_of_dollars

# data_file_df.head()

   id           Full Name  Gender   Amount       Car  Thousands of Dollars
0   1        Minnnie Rean    male  15484.5      Jeep               15.4845
1   2     Ursa Torricella  female  13443.3    Saturn               13.4433
2   3     Joyann Pirolini    male   9095.6       Ram                9.0956
3   4      Sharl Ridsdell  female  11871.6     Dodge               11.8716
4   5  Laurence Jovasevic    male  13459.8  Chrysler               13.4598