In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that the "petsitly_marketing" database is in MongoDB
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'epa', 'local', 'petsitly_marketing']

In [4]:
# assign the database to a variable name
db = mongo['petsitly_marketing']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['customer_list']

In [6]:
# assign the collection to a variable
customers = db['customer_list']

In [7]:
# Create a query that finds the customers who had over 50 visits in 2021


# Capture the results to a variable


# Pretty print the first two results

{'2021_Total_Spend': 1017.75,
 '2021_Visits': 59,
 'Address': '5123 Preston Plain',
 'Customer_First': 'Victoriano',
 'Customer_Last': 'McClure',
 'Email': 'christopher91@yahoo.com',
 'Pet_Type': 'dog',
 '_id': ObjectId('63c87d702592ed1be8cae5df')}
{'2021_Total_Spend': 1483.5,
 '2021_Visits': 86,
 'Address': '096 Jimenez Turnpike Apt. 451',
 'Customer_First': 'Leesa',
 'Customer_Last': 'White',
 'Email': 'kmassey@gmail.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('63c87d702592ed1be8cae5e0')}

In [8]:
# Create a query that finds the customers who spent $250 or less in 2021


# Capture the results to a variable


# Pretty print the first two results

{'2021_Total_Spend': 172.5,
 '2021_Visits': 10,
 'Address': '68369 Harris Motorway Apt. 444',
 'Customer_First': 'Braulio',
 'Customer_Last': 'Daniel',
 'Email': 'georgedavid@yahoo.com',
 'Pet_Type': 'dog',
 '_id': ObjectId('63c87d702592ed1be8cae5eb')}
{'2021_Total_Spend': 224.25,
 '2021_Visits': 13,
 'Address': '8959 Juan Courts',
 'Customer_First': 'Terrence',
 'Customer_Last': 'Trantow',
 'Email': 'ujohnson@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('63c87d702592ed1be8cae5ee')}

In [9]:
# Create a query that finds the customer(s) who live in an apartment with "Suite" in the address


# Capture the results to a variable


# Pretty print the first three results

{'2021_Total_Spend': 1397.25,
 '2021_Visits': 81,
 'Address': '2529 Anthony Streets Suite 146',
 'Customer_First': 'Ines',
 'Customer_Last': 'Monahan',
 'Email': 'hoffmantimothy@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('63c87d702592ed1be8cae5e3')}
{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '5359 Wilson Trafficway Suite 562',
 'Customer_First': 'Grady',
 'Customer_Last': 'Wyman',
 'Email': 'garciaangela@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('63c87d702592ed1be8cae5e5')}
{'2021_Total_Spend': 741.75,
 '2021_Visits': 43,
 'Address': '38128 Reyes Passage Suite 762',
 'Customer_First': 'Charline',
 'Customer_Last': 'Reilly',
 'Email': 'callahancarolyn@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('63c87d702592ed1be8cae5ef')}

In [10]:
# Create a query that finds the customers who have turtles or fish


# Capture the results to a variable


# Pretty print the first three results

{'2021_Total_Spend': 1311.0,
 '2021_Visits': 76,
 'Address': '10609 Joanna Manor',
 'Customer_First': 'Loni',
 'Customer_Last': 'Hauck',
 'Email': 'sjohnson@hotmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('63c87d702592ed1be8cae5e9')}
{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '34500 Acevedo Plains',
 'Customer_First': 'Consuela',
 'Customer_Last': 'Kunze',
 'Email': 'ycruz@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('63c87d702592ed1be8cae5ea')}
{'2021_Total_Spend': 224.25,
 '2021_Visits': 13,
 'Address': '8959 Juan Courts',
 'Customer_First': 'Terrence',
 'Customer_Last': 'Trantow',
 'Email': 'ujohnson@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('63c87d702592ed1be8cae5ee')}